.detail-container {
  border: 2px solid black;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.detail-upper-container {
  display: flex;
  flex-direction: row;
}

.detail-image-container {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  background-color: black;
}

.detail-image-container img {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.detail-description-container {
  border-left: 2px solid black;
  border-radius: 3px;
  width: 100%;
  padding: 5px;
}

.detail-lower-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 2px solid black;
}

.detail-economic-container {
  border-radius: 3px;
  width: 100%;
  border-right: 2px solid black;
  padding: 5px;
}

.detail-rent-container {
  border-radius: 3px;
  width: 100%;
  border-right: 2px solid black;
  padding: 5px;
}

.detail-geographical-container {
  border-radius: 3px;
  width: 100%;
  padding: 5px;
}
