.detail-container {
  border: 2px solid lightgray;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  margin-left: 10vw;
  margin-right: 10vw;
}

.detail-upper-container {
  display: flex;
  flex-direction: row;
}

.carousel {
  height: 100%;
  border: 2px solid black;

}

.image-carousel {
  object-fit: contain;
}

.detail-image-container {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  
  height: 100%;
  background-color: black;
}

.detail-input {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.detail-input label {
  justify-content: center;
  align-items: center;
}

.detail-input input {
margin: 2px;

}

.detail-input button {
  margin: 2px
}



.detail-description-container {
  display: flex;
  flex-direction: column;
  border-left: 2px solid lightgray;
  border-radius: 3px;
  width: 100%;
  padding: 10px;
}

.detail-lower-container {
  display: flex;
  flex-direction: row;
  border-top: 2px solid lightgray;
}

.detail-economic-container {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  width: 100%;
  border-right: 2px solid lightgray;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.detail-rent-container {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  width: 100%;
  border-right: 2px solid lightgray;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.detail-geographical-container {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  width: 100%;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
