.searchuser-container { 
    width: 80%;
    margin:auto;
    margin-bottom: 1rem;
    border: 0.2rem solid #1b3563;;
    padding: 1rem;
    border-radius: 3px;

}

.searchuser-separated-stuff {
    padding: 0.3rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    border: 0.1rem solid #1b3563;;
}











