.postannounce-container-container {
    width: 80%;
    margin:auto;
    margin-bottom: 1rem;
    border: 0.2rem solid #1b3563;;
    padding: 1rem;
    border-radius: 3px;
}

.postannounce-container {
margin: auto;
width: 80%;
}

.postannounce {
    margin: auto;
    width: 40%;
    display: flex;
    flex-direction: column; 
}

.postannounce-button-validate {
    color: white;
    width: fit-content;
    height: 2.5rem;
    padding: 0.5rem;
    border: 0.2px solid #1b3563;;
    border-radius: 3px;
    background-color: #1b3563;
}

.postannounce-image-preview {
    height: 5rem;
    padding:0.3rem;
    margin-right: 0.1rem;
    margin-left: 0.1rem;
    border:3px solid #1b3563;
    border-radius: 3px;
}

.postannounce-image-container {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    width: 150%;
}