.announce-container {
    border: 2px solid black;
    border-radius: 3px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 26vw;
  
}

.announce-upper-container {
    border-bottom: 2px solid gray;
    
}

.announce-container-title {
    padding: 1vh;
}

.announce-container-image {
    background-color: lightblue;
    overflow: hidden;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.announce-container-image img {
    max-width: 100%;
    display: flex;
    justify-content: center;
}


.announce-container-content {
    padding: 1vh;
}

.announce-lower-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.announce-container-city {
    border-right: 2px solid gray;
    padding: 1vh;
    width: 100%;
}

.announce-container-price {
    padding: 1vh;
    width: 100%;
}