.admintext-container-container {
    width: 80%;
    margin:auto;
    border: 0.2rem solid #1b3563;;
    padding: 1rem;
    border-radius: 3px;
    margin-bottom: 1rem;}

.admintext {
    margin: auto;
    width: 40%;
    display: flex;
    flex-direction: column; 
}

.admintext-container {
    margin: auto;
    width: 80%;
}

.admintext-button-validate {
    color: white;
    width: fit-content;
    height: 2.5rem;
    padding: 0.5rem;
    border: 0.2px solid #1b3563;;
    border-radius: 3px;
    background-color: #1b3563;
}

.admintext-input {
    width: 120%;
}