.login-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
}

.login {
  margin-top: 100px;
  border: 0.1px solid #1b3563;
  border-radius: 3px;
  padding: 2rem;
  width: min-content;
  background-color: white;
}

.message-box-login {
  width: 100%;
  text-align: center;
  background-color: white;
  font-size: 1.5rem;
  margin-top: 10px;
  width: 20%;
  padding: 20px;
}

.login-container {
  display: flex;
  flex-direction: column;
}
