.login-form{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.500);
    z-index: 4;
}

.login {
    margin-top: 100px;
    border: 0.1px solid darkblue;
    border-radius: 3px;
    padding: 2rem;
    width: min-content;
    background-color: white;
}
.message-box-login{
    width: 100%;
    text-align: center;
    background-color: white;
    margin-top: 10px;
    width: 20%;
}

.login-container {
    display: flex;
    flex-direction: column;
}

.login-button{
    color: white;
    width: 60%;
    margin:auto;
    margin-top: 0.5rem;
    border: 0.2px solid darkblue;
    border-radius: 3px;
    background-color: rgb(37, 37, 107);
    
}

.login-title {
    color: darkblue;
    text-align: center;
}



.login-input{
    height: 2.2rem;
    border: 0.1px solid darkblue;
    border-radius: 3px;
    padding: 0.5rem;
    width: 250px;
} 

.login-input:focus{
box-shadow: inset 0 1px 1px darkblue, 0 0 0.4rem blue;
}

.login-fasle-link {
    margin-top: 0.3rem;
    text-align: center;
    font-size: 0.8rem;
    color: darkblue;
    }

.login-fasle-link:hover{
    color: rgb(117, 117, 180);
    text-decoration: underline;
 }