.selector-line{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.select-region{
    width: 300px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.500) 10px 10px 10px;
}
.select-chambre{
    width: 150px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.500) 10px 10px 10px;
}

.select-block{
    display: flex;
}