.selector-line{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.select-region{
    width: 300px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}
.select-chambre{
    width: 150px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.select-block{
    display: flex;
}
.price-slider{
    margin: 10px;
    width: 200px;
}
.selected-price{
    width: 100px;
}