.gestionutilistatuers-container-lastname, 
.gestionutilistatuers-container-firstname,
.gestionutilistatuers-container-email,
.gestionutilistatuers-container-verification {
    margin-left: 1rem;
    margin-right: 1rem;
}
.modal-externe{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.493);
}

.gestionutilisateurs-container-container {
    border: 0.1rem solid darkblue;
    display: flex; 
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 3px; 

}

.userupdate-mapped{
    border: 1px solid black;
    display: flex; 
    flex-direction: row;
    padding: 0.5rem; 
}

.userupdate-image {
    height: 20px;
}

.userline-modal-container {
    height: fit-content;
    width: fit-content;
    background-color: white;
    z-index: 100;
    padding: 50px;
    border: 2px solid darkblue;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    position: absolute;
    
    
}

.userdetail-image-mignature {
    height: 50px;
}

.userline-button-search {
    border: none;
    width: 100%;
    cursor: pointer;  
}

.close-btn{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
}

.userline-infodebase {
    border: 1px solid darkblue;
    width: fit-content;
    padding:0.5rem;
    border-radius: 3px;
}

.userline-span-usertext {
    font-weight: bolder;
    color: darkblue;
}

.userline-buttons-admin {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: 3%;
}

.userline-infodebase-buttons-admin {
    display: flex;
    flex-direction: row;
}

.userline-button-validate {
color: white;
height: fit-content;
padding: 0.5rem;
border: 0.2px solid darkblue;
border-radius: 3px;
background-color: rgb(37, 37, 107);
}

.userline-container-boxed {
    border:1px solid darkblue;
    padding: 0.5rem;
    border-radius: 3px;
    margin-top: 5px;
}

.userline-text-awaiting {
    color: darkblue;
font-weight: bolder;
margin-top: 0.5rem;
}

.elders-scroll {
    margin:4px, 4px;
    padding:4px;
    background-color: white;
    width: 100%;
    height: 10rem;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}

.userline-line {
    font-weight: bold;
border: 0.1rem solid darkblue;
border-radius: 3px;
padding: 0.5rem;
margin: 0.4rem; 
}