.announce-container{
    padding: 10px;
    border: 2px solid navy;
    border-radius: 10px;
    width: 30%;
    margin: 20px;
    transition: transform .2s;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.514) 10px 10px 10px;
    &:hover{
        transform: scale(1.2);
    }
}
.top-container{
    width: 100%;
    height: 300px;
    border-radius: 8px 8px 0 0 ;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        width: 100%;
    }
}
.image-bottom-grey-bar{
    margin: 0;
    background-color: rgba(128, 128, 128, 0.774);
    width: 100%;
    height: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 8px 8px;
}

.announce-title{
    width: 100%;
    text-align: center;
    margin: 10px;
}
.bottom-container{
    display: flex;
    justify-content: space-around;
    .price-block, .surface-block, .bedroom-block{
        background-color: lightgray;
        border-radius: 10px;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p{
            margin: 5px;
        }
        .title-block{
            font-weight: bold;
        }
        
    }
}
