@each $key, $val in $couleurs {
  // créations de classes pour chaque couleurs de texte

  .text-#{$key} {
    color: $val;
  }
  .text-hover-#{$key} {
    &:hover {
      color: $val;
    }
  }
  .text-compl-hover-#{$key} {
    &:hover {
      color: light-comp($val);
    }
  }

  // créations de classes pour chaque background

  .bg-#{$key} {
    background-color: $val;
  }

  // variations de lumières claires
  // avec le if nous excluons les variations de noir avec noir et blanc avec blanc qui ne servent à rien
  @if ($val != black and $val != white) {
    @for $i from 1 through 9 {
      .text-#{$key}-light-#{$i} {
        color: mix(white, $val, $i * 10);
      }
      .text-hover-#{$key}-light-#{$i} {
        &:hover {
          color: mix(white, $val, $i * 10);
        }
      }
      .bg-#{$key}-light-#{$i} {
        background-color: mix(white, $val, $i * 10);
      }
    }
  }

  // variation de lumières sombres
  // avec le if nous excluons les variations de noir avec noir et blanc avec blanc qui ne servent à rien
  @if ($val != black and $val != white) {
    @for $i from 1 through 9 {
      .text-#{$key}-dark-#{$i} {
        color: mix(black, $val, $i * 10);
      }

      .text-hover-#{$key}-dark-#{$i} {
        &:hover {
          color: mix(black, $val, $i * 10);
        }
      }
      .bg-#{$key}-dark-#{$i} {
        background-color: mix(black, $val, $i * 10);
      }
    }
  }
}
