@use "sass:math";

$utilities: (
  "padding": (
    "prefix": "p",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 3,
      "4": $base-padding * 4,
      "5": $base-padding * 5,
      "6": $base-padding * 6,
      "7": $base-padding * 7,
    ),
  ),
  "padding-left": (
    "prefix": "pl",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8,
      "6": $base-padding * 10,
      "7": $base-padding * 12,
    ),
  ),
  "padding-right": (
    "prefix": "pr",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8,
      "6": $base-padding * 10,
      "7": $base-padding * 12,
    ),
  ),
  "padding-top": (
    "prefix": "pt",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8,
      "6": $base-padding * 10,
      "7": $base-padding * 12,
    ),
  ),
  "padding-bottom": (
    "prefix": "pb",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8,
      "6": $base-padding * 10,
      "7": $base-padding * 12,
    ),
  ),
  "margin": (
    "prefix": "m",
    "values": (
      "a": auto,
      "0": 0,
      "025": $base-margin * 0.25,
      "050": $base-margin * 0.5,
      "075": $base-margin * 0.75,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8,
      "6": $base-margin * 10,
      "7": $base-margin * 12,
    ),
  ),
  "margin-left": (
    "prefix": "ml",
    "values": (
      "0": 0,
      "025": $base-margin * 0.25,
      "050": $base-margin * 0.5,
      "075": $base-margin * 0.75,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8,
      "6": $base-margin * 10,
      "7": $base-margin * 12,
    ),
  ),
  "margin-right": (
    "prefix": "mr",
    "values": (
      "0": 0,
      "025": $base-margin * 0.25,
      "050": $base-margin * 0.5,
      "075": $base-margin * 0.75,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8,
      "6": $base-margin * 10,
      "7": $base-margin * 12,
    ),
  ),
  "margin-top": (
    "prefix": "mt",
    "values": (
      "0": 0,
      "025": $base-margin * 0.25,
      "050": $base-margin * 0.5,
      "075": $base-margin * 0.75,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8,
      "6": $base-margin * 10,
      "7": $base-margin * 12,
    ),
  ),
  "margin-bottom": (
    "prefix": "mb",
    "values": (
      "0": 0,
      "025": $base-margin * 0.25,
      "050": $base-margin * 0.5,
      "075": $base-margin * 0.75,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8,
      "6": $base-margin * 9,
      "7": $base-margin * 12,
    ),
  ),
  "opacity": (
    "prefix": "o",
    "values": (
      "10": 0.1,
      "20": 0.2,
      "30": 0.3,
      "40": 0.4,
      "50": 0.5,
      "60": 0.6,
      "70": 0.7,
      "80": 0.8,
      "90": 0.9,
      "100": 1,
    ),
  ),
  "border-radius": (
    "prefix": "br",
    "values": (
      "default": $base-border-radius,
      "none": 0,
      "xs": math.div($base-border-radius, 4),
      "sm": math.div($base-border-radius, 2),
      "lg": $base-border-radius * 2,
      "full": 50%,
    ),
  ),
  "display": (
    "prefix": "display",
    "values": (
      "n": none,
      "b": block,
      "f": flex,
      "i": inline,
      "i-b": inline-block,
    ),
  ),
  "flex-direction": (
    "prefix": "fd",
    "values": (
      "r": row,
      "c": column,
    ),
  ),
  "font-size": (
    "prefix": "font",
    "values": (
      "sm": $font-size-sm,
      "md": $base-font-size,
      "ml": $font-size-ml,
      "lg": $font-size-lg,
      "xl": $font-size-xl,
      "xxl": $font-size-xxl,
    ),
  ),
  "text-align": (
    "prefix": "t",
    "values": (
      "start": start,
      "end": end,
      "center": center,
      "justify": justify,
    ),
  ),
  "z-index": (
    "prefix": "z",
    "values": (
      "1": 1,
      "2": 2,
      "3": 3,
      "4": 4,
      "5": 5,
      "6": 6,
      "15": 15,
      "20": 20,
      "100": 100,
      "1000": 1000,
    ),
  ),
  "font-weight": (
    "prefix": "fw",
    "values": (
      "l": lighter,
      "n": normal,
      "b": bold,
      "br": bolder,
      "700": 700,
      "900": 900,
    ),
  ),
  "vertical-align": (
    "prefix": "va",
    "values": (
      "ba": baseline,
      "s": sub,
      "sup": super,
      "tt": text-top,
      "tb": text-bottom,
      "m": middle,
      "t": top,
      "b": bottom,
    ),
  ),
);

// generate utility classes
// on va mapper dans $utilities plus haut
// $propriete sera les noms de classes de vraies classes que l'on a dans le CSS
// $map seront les differentes valeurs
// $prefix va récupérer tous les prefix dans notre tableau
// $values va mapper sur ce qu'il y a dans values
@each $property, $map in $utilities {
  $prefix: map-get($map, "prefix");
  $values: map-get($map, "values");

  // puis on va mapper dans $values
  // il y aura un défaut rajouté après
  // si quand il map il tombe sur default, il ne vas pas crée de classe avec un -#{$key} et on pourra
  // l'utiliser juste comme ça.
  @each $key, $val in $values {
    @if ($key == "default") {
      .#{$prefix} {
        #{$property}: $val;
      }

      // sinon il va crée une classe avec le prefix et la key de dans values
      // puis va lui donner la $proprieté avec la valeur associé à la key
    } @else {
      .#{$prefix}-#{$key} {
        #{$property}: $val;
      }
    }
  }
}

//   "margin-bottom": ( // $propriety
//   "prefix": "mb", //$prefix
//   "values": ( // $value
//    // $key // $val
//     "1": $base-margin,
//   ),
// ),
