.announces-search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.announces-search button {
    padding: 5px;
    margin: 5px;
    border-radius: 3px;

}

.announces-search input {
    margin-top: 5px;
}

.announces-page {
    display: flex;
    flex-wrap: wrap;
}

