@use "sass:math";

@mixin input() {
  border: 0;
  display: inline-block;
  padding: $base-padding $base-padding * 2;
  background-color: rgb(248, 248, 248);
}

.textaera {
  @include input;
  height: 15rem;
  width: 80%;
  white-space: pre;
  &:focus {
    outline: none;
    background-color: rgb(245, 245, 245);
    border-bottom: 1px solid $primary;
  }
}

.input {
  @include input;
  &:focus {
    outline: none;
    background-color: rgb(245, 245, 245);
    border-bottom: 1px solid $primary;
  }
}
.input {
  @include xs {
    width: 80px;
  }
  @include sm {
    width: 100px;
  }
  @include md {
    width: 200px;
  }
  @include lg {
    width: 300px;
  }
  @include xl {
    width: 400px;
  }
}
