%flex-layout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  z-index: 5;
}

.navbar {
  @extend %flex-layout;
  padding: $base-padding $base-padding * 2;
  box-shadow: $base-box-shadow;
  background-color: rgba(59, 59, 59, 0.39);

  .site-title {
    font-size: $font-size-lg;
    letter-spacing: 0.5rem;
  }
  .site-texts {
    font-size: $base-font-size;
    letter-spacing: 0.2rem;
  }
  .container {
    @extend %flex-layout;
  }
}

@each $key, $val in $couleurs {
  .navbar-#{$key} {
    @extend .navbar;
    background-color: $val;
  }
}
