.gestionutilisateurs-container {
    width: 80%;
    margin:auto;
    border: 0.2rem solid darkblue;
    padding: 1rem;
    border-radius: 3px;
    margin-bottom: 1rem;
   }

.gestionutilisateurs-container-section{
    margin-top: 2rem;
    border: 0.1rem solid darkblue;
    border-radius: 3px;
    padding: 0.5rem;
}

.gestionutilisateurs-element-texte {
    font-weight: bolder;
}

.gestion-utilisateurs-buttons {
    border: none; 
}