.gestionutilisateurs-container {
    width: 80%;
    margin:auto;
    border: 0.2rem solid #1b3563;;
    padding: 1rem;
    border-radius: 3px;
    margin-bottom: 1rem;
   }

.gestionutilisateurs-container-section{
    margin-top: 2rem;
    border: 0.1rem solid #1b3563;;
    border-radius: 3px;
    padding: 0.5rem;
}

.gestionutilisateurs-element-texte {
    font-weight: bolder;
}

.gestion-utilisateurs-buttons {
    border: none; 
    display: flex;
}

.gestionutil-notifs {
    background-color: darkred;
    color: white; 
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100px;
    transform: translateY(6px);
    margin-left: 10px;
  
}