@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Kaushan+Script&family=Montserrat:wght@100&family=Roboto:wght@100&display=swap');
.message-box{
    background-color: white;
    width: 25%;
    margin-top: 5px;
    border: 0.1px solid darkblue;
    text-align: center;
}

.signup-form{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.500);
}
.signup {
    margin-top: 100px;
    border: 0.1px solid darkblue;
    border-radius: 3px;
    padding: 2rem;
    width: min-content;
    background-color: white;
}

.signup-container {
    display: flex;
    flex-direction: column;
}

.signup-container-nomprenom, .signup-container-motdepasse {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.signup-container-mdp, .signup-container-verifmdp, .signup-container-nom, .signup-container-prenom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.signup-container-email, .signup-container-tel, .signup-container-societe {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.prenom {
    margin-left: 0.3rem;
}

@media only screen and (max-width: 1000px) {
    .signup-container-nomprenom, .signup-container-motdepasse  {
        flex-wrap: wrap;
    }
  }

.singup-input{
    height: 2.2rem;
    border: 0.1px solid darkblue;
    border-radius: 3px;
    padding: 0.5rem;
} 

.singup-input:focus{
    box-shadow: inset 0 1px 1px darkblue, 0 0 0.4rem blue;
    }

label{
    color: darkblue;
    font-weight: bolder;
    margin-top: 0.5rem;
}

.signup-title {
    color: darkblue;
    text-align: center;
}



.signup-button{
    color: white;
    width: 30%;
    margin:auto;
    margin-top: 0.5rem;
    border: 0.2px solid darkblue;
    border-radius: 3px;
    background-color: rgb(37, 37, 107);
    
}

.required:after { 
    content:"*";
    color: red; }

.signup-fasle-link {
    margin-top: 0.3rem;
    text-align: center;
    font-size: 0.8rem;
    color: darkblue;
    }

.signup-fasle-link:hover{
     color: rgb(117, 117, 180);
     text-decoration: underline;
    }
