.oneannounce-container-container {
    width: 100%;
    padding:3rem;
    margin: auto; 
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    background-color: white;
    z-index: 3;
 }
  
.oneannounce-container{
    width: 80%;
    border-radius: 3px;
    top: 65%;
    margin: auto;
    z-index: 3;
    
}

.oneannounce-image-container {
    width: 95%;
    margin:auto;
    display: flex;
    border-radius: 3px 3px 0 0 ;  
    z-index: 3;
}

.onennounce-image-bottom-grey-bar{
    margin: auto;
    width: 95%;
    height: 30px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 3px 3px;
    z-index: 3;
}


.oneannounce-container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
}

.oneannounce-image-text-container {
    width: fit-content;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 3px;
    padding: 15px;
    margin: auto; 
    z-index: 3;

}

.oneannounce-title-container {
    margin-bottom: 2%;
    z-index: 10;
    color: black;
    
}

.oneannounce-title-container h4 {
    font-size: 35px;
    z-index: 3;
}

@media (max-width :1000px) {
    .oneannounce-image-text-container {
        flex-direction: column;
        width: fit-content;

       }
    .oneannounce-container-text {
        margin-top: 5%;
    }   
    .oneannounce-container {
        margin: auto;
    }   
}