.oneannounce-container-container {
    width: 80%;
    margin-bottom: 1rem;
    padding: 1rem;
    margin: auto; 
    margin-top: 5%;
    margin-bottom: 5%;
   /*  border: 0.1rem solid darkblue; */
    display: flex;
    flex-direction: column;
    text-align: center;
}

.oneannounce-image-container {
    height: 30rem;
    width: 50rem;
    margin:auto;
    display: flex;
    border-radius: 3px 3px 0 0 ;
    
}

.oneannounce-container{
    border: 0.1rem solid rgba(128, 128, 128, 0.774);
}

.onennounce-image-bottom-grey-bar{
    margin: auto;
    background-color: rgba(128, 128, 128, 0.774);
    width: 50rem;
    height: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 3px 3px;
}


.oneannounce-container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.oneannounce-image-text-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: lightgrey;
}

.oneannounce-title-container {
    margin-bottom: 20px;
}