.infos-container-container {
     width: 80%;
     margin-bottom: 1rem;
     padding: 1rem;
     border-radius: 3px;
     margin: auto; 
     justify-content: center;
     display: flex;
     flex-direction: row;
}

.infos-container {
    padding: 2rem;
}

.infos-container div {
    padding: 2rem;
    border-radius: 3px;
    margin: 0.3rem;
    text-align: center;
    height: 50%;
    width: 100%;
    border: 0.1rem solid darkblue;
}

.info-element {
    font-size: 200%;
    font-weight: bolder;
}