.addributilisateurs-container {
    width: 80%;
    margin:auto;
    border: 0.2rem solid darkblue;
    padding: 1rem;
    border-radius: 3px;
}

.addrib-container-form {
    display: flex;
    flex-direction: column;
}

.addrib-button-validate { 
    color: white;
    width: 7rem;
    height: 2.5rem;
    padding: 0.5rem;
    border: 0.2px solid darkblue;
    border-radius: 3px;
    background-color: rgb(37, 37, 107);
 }

