.navbar {
    margin-bottom: 0;
    padding: 0;
    margin:0;
    z-index: 2;
}

.logoh1 {
    display: flex; 
    flex-direction: row;  
    margin-left: 4%;
    line-height: 4rem;
}

.logo {
    font-size: 150%;
    line-height: 4rem;
    letter-spacing: 0.5rem;
    
}

.logo-image {
    height: 4rem;
    padding: 0;
}

.perso {
    display:block;
    white-space: nowrap;
}