@import "../../master.scss";

.navbar {
  color: white;
  display: flex;
  background-color: rgba(0, 0, 0, 0.212);
  .logo {
    margin-left: 20px;
  }
  .menu {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    p {
      margin: 0 20px;
      color: white;
      font-size: 15px;
      &:hover {
        border-bottom: 2px solid white;
        margin-bottom: -2px;
      }
    }
    a {
      text-decoration: none;
    }
    .btn-connecter {
      color: white;
      border-radius: 3px;
      height: 35px;
      display: flex;
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      padding: 8px;
      font-size: 120%;
      p {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &:hover {
        box-sizing: content-box;
        margin-bottom: 0;
        border-bottom: 0.1rem solid white;
        color: white;
        cursor: pointer;
      }
    }
  }
}
