.userupdate-generalcontainer {
  border: 1px solid #1b3563;
  width: 70%;
  margin: auto;
  padding: 2rem;
  margin-bottom: 0.5rem;
  border-radius: 3px;
}

.userupdate-singlecontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  border: 1px solid #1b3563;
  border-radius: 3px;
  padding: 1rem;
}

.userupdate-container-modify {
  margin: auto;
}

.userupdate-button-modify,
.userupdate-button-validate,
.userupdate-button-delete {
  color: white;
  width: 7rem;
  height: 2.5rem;
  padding: 0.5rem;
  border: 0.2px solid #1b3563;
  border-radius: 3px;
  background-color: #1b3563;
}

.userupdate-button-delete {
  transform: rotate(7deg);
  -ms-transform: rotate(90deg); /* IE 9 */
  -moz-transform: rotate(90deg); /* Firefox */
  -webkit-transform: rotate(90deg); /* Safari and Chrome */
  -o-transform: rotate(90deg); /* Opera */
}

.userupdate-button-validate {
  margin-top: 0.2rem;
}

.userupdate-container-warning {
  width: 25rem;
  text-align: center;
  margin: auto;
  margin-top: 0.5rem;
  border: 1px solid grey;
  padding: 0.7rem;
  background-color: rgb(219, 219, 219);
  border-radius: 3px;
}

.userupdate-container-label {
  display: flex;
  flex-direction: column;
}

.userupdate-label {
  color: rgb(94, 94, 94);
  font-weight: bolder;
  margin-top: 0.5rem;
}

.userupdate-input {
  height: 2.2rem;
  border: 0.1px solid #1b3563;
  border-radius: 3px;
  padding: 0.5rem;
}

.userupdate-container-container-ternaire {
  text-align: center;
}

.userupdate-container-container-ternaire-avec-image {
  display: flex;
}

.userupdate-canvas-pi {
  border: 1px solid black;
}

.userupdate-image-container {
  height: 5rem;
}

.test {
  height: 500px;
  width: 200px;
}

.userupdate-imageuser {
  height: 80px;
}

.userupdate-imagecontainer {
  display: flex;
  flex-direction: row;
}

.userupdate-container-params {
  text-align: center;
}
