@import '../../master.scss';

.footer{
    position: fixed;
    bottom: 0;
    background-color: $primary;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        margin: 0;
    }
}