@import './master.scss';

*{
    font-family: 'Roboto', sans-serif;
}


.app{
    background-color: whitesmoke;
    
}

.main {
    margin-bottom: 3rem;
    padding-bottom: 3%;
    min-height: 100vh;
}