.usertransac-container-general {
  border: 1px solid #1b3563;
  width: 70%;
  margin: auto;
  padding: 2rem;
  margin-bottom: 0.5rem;
  border-radius: 3px;
  text-align: center;
}

.usertransac-button-validate {
  color: white;
  width: fit-content;
  height: fit-content;
  padding: 0.5rem;
  border: 0.2px solid #1b3563;
  border-radius: 3px;
  background-color: #1b3563;
  margin: 0 10px;
}

.usertransac-line {
  font-weight: bold;
  border: 0.1rem solid #1b3563;
  border-radius: 3px;
  padding: 0.5rem;
  margin: 0.4rem;
}

.usertransac-button-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: grey;
}
a:hover {
  color: rgb(66, 66, 66);
}

.biens {
  border: 1px solid black;
  padding: 1em;
  margin: 1em;
}
