.usertransac-container-general {
    border:1px solid darkblue;
    width: 70%;
    margin: auto;
    padding: 2rem;
    margin-bottom: 0.5rem;
    border-radius: 3px;
}

.usertransac-button-validate {
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
    border: 0.2px solid darkblue;
    border-radius: 3px;
    background-color: rgb(37, 37, 107);
}

.usertransac-line {
    font-weight: bold;
    border: 0.1rem solid darkblue;
    border-radius: 3px;
    padding: 0.5rem;
    margin: 0.4rem; 
}

.usertransac-button-container {
    display: flex;
    flex-direction: column;
}